mrs_uav_managers:

  gain_manager:

    supersoft:

      horizontal:
        kp: 3.0
        kv: 2.0
        ka: 1.0

        kib: 0.1
        kib_lim: 10.0

        kiw: 0.1
        kiw_lim: 10.0

      vertical:
        kp: 15.0
        kv: 8.0
        ka: 1.0

      attitude:
        kq_roll_pitch: 5.0
        kq_yaw: 5.0

      mass_estimator:
        km: 0.5

        # the maximum estimated uav mass difference
        km_lim: 20.0 # [kg, at least 1/2 of the UAVs mass to allow landing detection]

    soft:

      horizontal:
        kp: 6.0
        kv: 3.0
        ka: 1.0

        kib: 0.1
        kib_lim: 10.0

        kiw: 0.1
        kiw_lim: 10.0

      vertical:
        kp: 15.0
        kv: 8.0
        ka: 1.0

      attitude:
        kq_roll_pitch: 5.0
        kq_yaw: 5.0

      mass_estimator:
        km: 0.5

        # the maximum estimated uav mass difference
        km_lim: 20.0 # [kg, at least 1/2 of the UAVs mass to allow landing detection]
