mrs_uav_managers:

  control_manager:

    # list of names of dynamically loaded trackers
    trackers : [
    ]

    # list of names of dynamically loaded controllers
    controllers : [
    ]

    state_input: 0 # {0 = mrs_msgs::UavState, 1 = nav_msgs::Odometry}

    # tracker used for landing and takeoff
    landing_takeoff_tracker: "LandoffTracker"

    safety:

      tilt_limit:

        eland:
          enabled: true
          limit: 75.0 # [deg]

        disarm:
          enabled: true
          limit: 75.0 # [deg]

      tilt_error_disarm:
        enabled: true
        timeout: 0.5 # [s] # for how long the error has to be present to disarm
        error_threshold: 20.0 # [deg]

      yaw_error_eland:
        enabled: true
        limit: 90.0 # [deg]

      # tracker used for emergency hover routine
      ehover_tracker: "LandoffTracker"

      # controller used for safety landing (feed forward)
      failsafe_controller: "FailsafeController"

      # after not receiving odometry for more than this, the failsafe landing will trigger
      # will be overriden for ACCELERATION+ output mode
      odometry_max_missing_time: 0.1 # [s]

      # trigger eland when the odometry corrections are too unreliable
      # - should be false when using custom odometry source without available innovation values
      # - the innovation limit is set per-controller in the controllers.yaml file
      odometry_innovation_eland:
        enabled: true

      # emergency landing (still feedback)
      eland:

        controller: "EmergencyController"

        # Making those numbers smaller than "factor: 0.5, timeout: 2.0" can result in premature
        # landing detection, especially in the case of wild eland with weird initial conditions.
        # It might be safe with just the normal landing though.
        cutoff_mass_factor:  0.5 # how much lighter does the drone appear to be?
        cutoff_timeout:  2.0 # [s] how long does the throttle has to be below the mass factor

        disarm: true
        timer_rate: 10 # [Hz]

      escalating_failsafe:

        service:
          enabled: true # can be called by a service

        rc:
          enabled: true # can be triggered by RC button
          channel_number: 7 # [-],  activation RC channel
          threshold: 0.5 # [%/100]

        # how often does it allow to escalate
        timeout: 2.0 # [s]

        ehover: true
        eland: true
        failsafe: false

      parachute:

        enabled: false

      # when the active tracker returns empty command
      tracker_error_action: "eland" # {eland, ehover}

      # handoff directly to RC control
      # * overrides eland and failsafe landing
      # * recommended when flying over water
      rc_emergency_handoff:
        enabled: false

      min_throttle_null_tracker: 0.10 # [] minimum throttle when not flying

    trajectory_tracking:

      snap_to_safety_area: false

    obstacle_bumper:

      enabled: true

      switch_tracker: true
      tracker: "MpcTracker"

      switch_controller: true
      controller: "Se3Controller"

      horizontal:

        min_distance_to_obstacle: 1.2 # [m]

        # when enabled, the min_distance_to_obstacle will increased by the distances
        # needed for stopping given the current system constraints
        derived_from_dynamics: true

      vertical:

        min_distance_to_obstacle: 1.2 # [m]

        # when enabled, the min_distance_to_obstacle will increased by the distances
        # needed for stopping given the current system constraints
        derived_from_dynamics: true

    joystick:

      enabled: true

      # the trajectory mode is for debugging trajectory control ONLY
      mode: 0 # {0 = goto, 1 = trajectory}

      # carrot on a stick distance for the goto mode
      carrot_distance: 4.00 # [m]

      joystick_timer_rate: 30 # [Hz]

      # mainly for tuning low-level attitude controllers
      # is initiated by pressing "start" for > 3 secs
      attitude_control:

        # tracker and controller used to control the drone using a joystick

        # tracker: "JoyTracker" TODO return
        tracker: "LandoffTracker"
        controller: "MpcController"

        # what tracker and controller should be activate when
        # switching back from joystick control?
        fallback:

          tracker: "MpcTracker"
          controller: "EmergencyController"

      # channel numbers, indeces in array
      channels:

        # The main front buttons
        # if any of those are pressend in the "joystic control mode",
        # the control returns back to autonomy using the "fallback"
        # controller and tracker
        A: 0 # []
        B: 1 # []
        X: 2 # []
        Y: 3 # []

        # if the "start" button is pressed and held down for > 3 sec, the UAV switches
        # to a tracker and controller specified above in the "attitude_control" section.
        # Autonomy in this mode is not guaranteed, it depends on the specified tracker and controller.
        start: 7 # []

        # If "back" button is pressed, the UAV switches to a GOTO mode, where
        # references are set using the joystick. This is fully autonomous mode,
        # or more specifically, it uses the tracker and controller which were
        # already active.
        back: 6 # []

        # if LT and RT are pressed together, the failsafe is triggered
        LT: 2 # [] left trigger
        RT: 5 # [] right trigger

        # if L_joy and R_joy are pressed together, emergency landing is triggered
        L_joy: 9 # [] pressing left joypad
        R_joy: 10 # [] pressing right joypad

        pitch: 1 # []
        roll: 3 # []
        heading: 0 # []
        throttle: 4 # []

      # multipliers for scaling and reversing the channels
      channel_multipliers:

        pitch: 1.0 # []
        roll: 1.0 # []
        heading: 1.0 # []
        throttle: 1.0 # []

    rc_joystick:

      enabled: true
      # activation channel
      channel_number: 6 # indexed from 0

      horizontal_speed: 1.00 # [m/s]
      vertical_speed: 1.00 # [m/s]
      heading_rate: 0.20 # [rad/s]

      channels:
        pitch: 2
        roll: 0
        heading: 3
        throttle: 1

    pirouette:

      speed: 0.25 # [rad/s]
      timer_rate: 10 # [Hz]
