mrs_uav_managers:

  control_manager:

    # list of names of dynamically loaded trackers
    mrs_trackers : [
      "NullTracker",
      "LandoffTracker",
      # "LineTracker",
      "MpcTracker",
      # "JoyTracker",
      # "SpeedTracker",
      "MidairActivationTracker",
    ]

    # list of names of dynamically loaded controllers
    mrs_controllers : [
      "MpcController",
      "Se3Controller",
      "FailsafeController",
      "EmergencyController",
      "MidairActivationController",
    ]

    #- this is the "do nothing tracker", which is active when no other is
    null_tracker: "NullTracker"

    status_timer_rate: 10 # [Hz] # will be overriden for VELOCITY+ output mode

    safety:

      safety_timer_rate: 100 # [Hz]
      failsafe_timer_rate: 100 # [Hz]

    # these constraints are normally overridden by the ConstraintManager.
    default_constraints:

      horizontal:
        speed: 1.0        # [m/s]
        acceleration: 1.0 # [m/s^2]
        jerk: 20.0        # [m/s^3]
        snap: 20.0        # [m/s^4]

      vertical:

        ascending:
          speed: 1.0        # [m/s]
          acceleration: 1.0 # [m/s^2]
          jerk: 20.0        # [m/s^3]
          snap: 20.0        # [m/s^4]

        descending:
          speed: 1.0        # [m/s]
          acceleration: 1.0 # [m/s^2]
          jerk: 20.0        # [m/s^3]
          snap: 20.0        # [m/s^4]

      heading:
        speed: 1.0        # [rad/s]
        acceleration: 1.0 # [rad/s^2]
        jerk: 10.0        # [rad/s^3]
        snap: 10.0        # [rad/s^4]

      angular_speed:
        roll: 20.0  # [rad/s]
        pitch: 20.0 # [rad/s]
        yaw: 10.0   # [rad/s]

      tilt: 60.0 # [deg]

    scope_timer:

      enabled: false
      log_filename: "" # if empty, scope timers output to terminal; otherwise log to file

    obstacle_bumper:

      timer_rate: 20.0 # [Hz]

      horizontal:
        overshoot: 0.2 # [m]

      vertical:
        overshoot: 0.2 # [m]
