<launch>

  <!-- args corresponding to environment variables -->
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE)" />
  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />

  <!-- other args -->
  <arg name="debug" default="false" />
  <arg name="standalone" default="true" />
  <arg name="bond" default="$(optenv BOND true)" />
  <arg name="nodelet_manager_name" default="$(optenv NODELET_MANAGER)" />

  <!-- config files -->
  <arg name="custom_config" default="" />
  <arg name="platform_config" default="" />

  <env name="ROSCONSOLE_CONFIG_FILE" if="$(eval arg('LOGGER_DEBUG'))" value="$(find mrs_uav_managers)/config/debug_verbosity.yaml" />

  <arg     if="$(arg bond)" name="bond_suffix" value="" />
  <arg unless="$(arg bond)" name="bond_suffix" value="--no-bond" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg nodelet_manager_name)" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg UAV_NAME)">

    <!-- Constraint Manager -->
    <node pkg="nodelet" type="nodelet" name="constraint_manager" args="$(arg nodelet) mrs_uav_managers/ConstraintManager $(arg nodelet_manager) $(arg bond_suffix)" output="screen" launch-prefix="$(arg launch_prefix)">

      <!-- Load the default param files -->
      <param name="private_config" value="$(find mrs_uav_managers)/config/private/constraint_manager/constraint_manager.yaml" />
      <param name="public_config" value="$(find mrs_uav_managers)/config/public/constraint_manager/constraint_manager.yaml" />
      <param name="public_constraints" value="$(find mrs_uav_managers)/config/public/constraint_manager/constraints.yaml" />

      <!-- Load user param files -->
      <param if="$(eval arg('platform_config') == '')" name="platform_config" value="" />
      <param if="$(eval not arg('platform_config') == '' and arg('platform_config')[0] == '/')" name="platform_config" value="$(arg platform_config)" />
      <param if="$(eval not arg('platform_config') == '' and not arg('platform_config')[0] == '/')" name="platform_config" value="$(env PWD)/$(arg platform_config)" />

      <param if="$(eval arg('custom_config') == '')" name="custom_config" value="" />
      <param if="$(eval not arg('custom_config') == '' and arg('custom_config')[0] == '/')" name="custom_config" value="$(arg custom_config)" />
      <param if="$(eval not arg('custom_config') == '' and not arg('custom_config')[0] == '/')" name="custom_config" value="$(env PWD)/$(arg custom_config)" />

      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

      <!-- Subscribers -->
      <remap from="~estimation_diagnostics_in" to="estimation_manager/diagnostics" />

      <!-- Services -->
      <remap from="~set_constraints_in" to="~set_constraints" />
      <remap from="~set_constraints_out" to="control_manager/set_constraints" />
      <remap from="~constraints_override_in" to="~constraints_override" />

      <!-- Publishers -->
      <remap from="~diagnostics_out" to="~diagnostics" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
