<launch>

  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav)" />
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(optenv UAV_TYPE)" />
  <arg name="STANDALONE" default="true" />

  <arg     if="$(arg STANDALONE)" name="nodelet" value="standaloner"/>
  <arg unless="$(arg STANDALONE)" name="nodelet" value="load"/>
  <arg     if="$(arg STANDALONE)" name="nodelet_manager" value=""/>
  <arg unless="$(arg STANDALONE)" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager"/>

  <group ns="$(arg UAV_NAME)">

    <!-- Constraint Manager -->
    <node pkg="nodelet" type="nodelet" name="constraint_manager" args="$(arg nodelet) mrs_uav_manager/ConstraintManager $(arg nodelet_manager)" output="screen">

      <!-- Load the default param files -->
      <rosparam file="$(find mrs_uav_manager)/config/default/constraint_manager/constraint_manager.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/default/constraint_manager/constraints.yaml" />

      <!-- Load the particular param files -->
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/constraint_manager/constraint_manager.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/constraint_manager/constraints.yaml" />

      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

      <!-- Subscribers -->
      <remap from="~odometry_diagnostics_in" to="odometry/diagnostics" />

      <!-- Services -->
      <remap from="~set_constraints_in" to="~set_constraints" />
      <remap from="~set_constraints_out" to="control_manager/set_constraints" />

      <!-- Publishers -->
      <remap from="~current_constraints_out" to="~current_constraints" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
