<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="world_file" default="$(find mrs_main)/config/world_simulation.yaml"/>

  <!-- Nodelet Manager -->
  <include file="$(find mrs_main)/launch/nodelet_manager.launch" />

  <!-- Odometry -->
  <include file="$(find mrs_odometry)/launch/simulation.launch" />

  <group ns="$(arg uav_name)">

    <!-- Nodelet manager -->
    <!-- <node pkg="nodelet" type="nodelet" name="mrs_nodelet_manager" args="manager" output="screen"/> -->

    <!-- MAV Manager -->
    <node pkg="nodelet" type="nodelet" name="mav_manager" args="load mrs_mav_manager/MavManager mrs_nodelet_manager" output="screen">

      <!-- Subscribers -->
      <remap from="~odometry_in" to="odometry/new_odom" />

      <!-- Publishers -->
      <remap from="~attitude_cmd_out" to="mavros/setpoint_raw/attitude" />

    </node>

    <!-- Control manager -->
    <node pkg="nodelet" type="nodelet" name="control_manager" args="load mrs_mav_manager/ControlManager mrs_nodelet_manager" output="screen">

      <rosparam file="$(find mrs_mav_manager)/config/control_manager.yaml" />

      <!-- Controller's configs -->
      <!-- PID -->
      <rosparam ns="pid_controller" file="$(find mrs_controllers)/config/pid_simulation.yaml" />
      <!-- LSF -->
      <rosparam ns="lsf_controller" file="$(find mrs_controllers)/config/lsf_simulation.yaml" />

      <!-- Trackers' configs -->
      <!-- LineTracker -->
      <rosparam ns="line_tracker" file="$(find mrs_trackers)/config/simulation/line_tracker.yaml" />

      <!-- MpcTracker -->
      <rosparam ns="mpc_tracker" file="$(find mrs_trackers)/config/simulation/mpc_tracker.yaml" />
      <rosparam ns="mpc_tracker" file="$(arg world_file)" />
      <param name="mpc_tracker/uav_name" value="$(arg uav_name)" />
      <param name="mpc_tracker/predicted_trajectory_topic" value="control_manager/mpc_tracker/predicted_trajectory" />

      <!-- Subscribers -->
      <remap from="~odometry_in" to="odometry/new_odom" />

      <!-- Publishers -->
      <remap from="~attitude_cmd_out" to="mavros/setpoint_raw/attitude" />
      <remap from="~tracker_status" to="~tracker_status" />

    </node>

  </group>

</launch>
