<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="world_file" default="$(find mrs_main)/config/world_simulation.yaml"/>

  <group ns="$(arg uav_name)">

    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <!-- Trackers manager -->
    <node pkg="nodelet" type="nodelet" name="control_manager" args="load mrs_mav_manager/ControlManager standalone_nodelet" output="screen">

      <rosparam file="$(find mrs_mav_manager)/config/control_manager.yaml" />

      <!-- Controller's configs -->
      <rosparam ns="pid_controller" file="$(find mrs_controllers)/config/pid_simulation.yaml" />

      <!-- LinearTracker -->
      <rosparam ns="linear_tracker" file="$(find mrs_trackers)/config/simulation/linear_tracker.yaml" />

      <!-- MpcTracker -->
      <rosparam ns="mpc_tracker" file="$(find mrs_trackers)/config/simulation/mpc_tracker.yaml" />
      <rosparam ns="mpc_tracker" file="$(arg world_file)" />
      <param name="mpc_tracker/uav_name" value="$(arg uav_name)" />
      <param name="mpc_tracker/predicted_trajectory_topic" value="control_manager/mpc_tracker/predicted_trajectory" />

      <!-- Subscribers -->
      <remap from="~odometry_in" to="mrs_odometry/new_odom" />

      <!-- Publishers -->
      <remap from="~attitude_cmd_out" to="mavros/setpoint_raw/attitude" />
      <remap from="~tracker_status" to="~tracker_status" />

    </node>

  </group>

</launch>
