<launch>

  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
  <arg name="PROPULSION_TYPE" default="$(env PROPULSION_TYPE)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="STANDALONE" default="true" />
  <arg name="BODY_DISTURBANCE_X" default="$(optenv INITIAL_DISTURBANCE_X 0.0)" />
  <arg name="BODY_DISTURBANCE_Y" default="$(optenv INITIAL_DISTURBANCE_Y 0.0)" />
  <arg name="DEBUG" default="false" />
  <arg name="custom_config" default="" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 't650')" name="UAV_MASS" default="5.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f550')" name="UAV_MASS" default="3.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f450')" name="UAV_MASS" default="2.3" />
  <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" default="$(env UAV_MASS)" />

  <arg name="world_file" default="$(find mrs_general)/config/world_simulation.yaml" />
  <arg name="motor_params_file" default="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/motor_params_$(arg PROPULSION_TYPE).yaml" />
  <arg name="g" default="9.8" />

  <arg     if="$(arg DEBUG)" name="launch_prefix" value="debug_roslaunch"/>
  <arg unless="$(arg DEBUG)" name="launch_prefix" value=""/>

  <arg     if="$(eval arg('STANDALONE') or arg('DEBUG'))" name="nodelet" value="standalone"/>
  <arg unless="$(eval arg('STANDALONE') or arg('DEBUG'))" name="nodelet" value="load"/>
  <arg     if="$(eval arg('STANDALONE') or arg('DEBUG'))" name="nodelet_manager" value=""/>
  <arg unless="$(eval arg('STANDALONE') or arg('DEBUG'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager"/>

  <group ns="$(arg UAV_NAME)">

    <!-- Control manager -->
    <node pkg="nodelet" type="nodelet" name="control_manager" args="$(arg nodelet) mrs_uav_manager/ControlManager $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <!-- Load the default param files -->
      <rosparam file="$(find mrs_uav_manager)/config/default/control_manager.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/default/trackers.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/default/controllers.yaml" />

      <!-- Load the particular param files -->
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/control_manager.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/trackers.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/controllers.yaml" />

      <!-- Load a user param file -->
      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <rosparam file="$(arg world_file)" />
      <rosparam file="$(arg motor_params_file)" />
      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />
      <param name="uav_name" type="string" value="$(arg UAV_NAME)" />
      <param name="g" value="$(arg g)" />
      <param name="uav_mass" value="$(arg UAV_MASS)" />
      <param name="body_disturbance_x" value="$(arg BODY_DISTURBANCE_X)" />
      <param name="body_disturbance_y" value="$(arg BODY_DISTURBANCE_Y)" />

      <!-- Controller's configs -->

      <!-- NSF -->
      <rosparam ns="nsf_controller" file="$(find mrs_controllers)/config/default/nsf.yaml" />
      <rosparam ns="nsf_controller" file="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/nsf.yaml" />
      <param name="nsf_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~nsf_controller/profiler" to="profiler" />

      <!-- SO3 -->
      <rosparam ns="so3_controller" file="$(find mrs_controllers)/config/default/so3.yaml" />
      <rosparam ns="so3_controller" file="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/so3.yaml" />
      <param name="so3_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~so3_controller/profiler" to="profiler" />

      <!-- MPC controller -->
      <rosparam ns="mpc_controller" file="$(find mrs_controllers)/config/default/mpc.yaml" />
      <rosparam ns="mpc_controller" file="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/mpc.yaml" />
      <param name="mpc_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~mpc_controller/profiler" to="profiler" />

      <!-- Acceleration Controller -->
      <rosparam ns="acceleration_controller" file="$(find mrs_controllers)/config/default/acceleration.yaml" />
      <rosparam ns="acceleration_controller" file="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/acceleration.yaml" />
      <param name="acceleration_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~acceleration_controller/profiler" to="profiler" />

      <!-- Attitude controller -->
      <rosparam ns="attitude_controller" file="$(find mrs_controllers)/config/default/attitude.yaml" />
      <rosparam ns="attitude_controller" file="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/attitude.yaml" />
      <param name="attitude_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~attitude_controller/profiler" to="profiler" />

      <!-- FailSafe -->
      <rosparam ns="failsafe_controller" file="$(find mrs_controllers)/config/default/failsafe.yaml" />
      <rosparam ns="failsafe_controller" file="$(find mrs_controllers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/failsafe.yaml" />
      <param name="failsafe_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~failsafe_controller/profiler" to="profiler" />
      <remap from="~failsafe_controller/arm_out" to="~/arm" />

      <!-- Trackers' configs -->

      <!-- LineTracker -->
      <rosparam ns="line_tracker" file="$(find mrs_trackers)/config/default/line_tracker.yaml" />
      <rosparam ns="line_tracker" file="$(find mrs_trackers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/line_tracker.yaml" />
      <param name="line_tracker/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~line_tracker/profiler" to="profiler" />

      <!-- JoyTracker -->
      <rosparam ns="joy_tracker" file="$(find mrs_trackers)/config/default/joy_tracker.yaml" />
      <rosparam ns="joy_tracker" file="$(find mrs_trackers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/joy_tracker.yaml" />
      <param name="joy_tracker/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~joy_tracker/profiler" to="profiler" />
      <remap from="~joy_tracker/joystick_in" to="/joy" />

      <!-- JoyBumperTracker -->
      <rosparam ns="joy_bumper_tracker" file="$(find mrs_trackers)/config/default/joy_bumper_tracker.yaml" />
      <rosparam ns="joy_bumper_tracker" file="$(find mrs_trackers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/joy_bumper_tracker.yaml" />
      <param name="joy_bumper_tracker/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~joy_bumper_tracker/profiler" to="profiler" />
      <remap from="~joy_bumper_tracker/joystick_in" to="/joy" />
      <remap from="~joy_bumper_tracker/bumper_in" to="bumper/obstacle_sectors" />

      <!-- MatlabTracker -->
      <rosparam ns="matlab_tracker" file="$(find mrs_trackers)/config/default/matlab_tracker.yaml" />
      <rosparam ns="matlab_tracker" file="$(find mrs_trackers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/matlab_tracker.yaml" />
      <param name="matlab_tracker/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~matlab_tracker/profiler" to="profiler" />
      <remap from="~matlab_tracker/goal_in" to="~matlab_tracker/goal" />

      <!-- LandoffTracker -->
      <rosparam ns="landoff_tracker" file="$(find mrs_trackers)/config/default/landoff_tracker.yaml" />
      <rosparam ns="landoff_tracker" file="$(find mrs_trackers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/landoff_tracker.yaml" />
      <param name="landoff_tracker/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <remap from="~landoff_tracker/profiler" to="profiler" />
      <remap from="~landoff_tracker/reset_lateral_odometry_out" to="odometry/reset_lateral_kalman" />
      <remap from="~landoff_tracker/land_in" to="~landoff_tracker/land" />
      <remap from="~landoff_tracker/eland_in" to="~landoff_tracker/eland" />
      <remap from="~landoff_tracker/takeoff_in" to="~landoff_tracker/takeoff" />
      <remap from="~landoff_tracker/diagnostics_out" to="~landoff_tracker/diagnostics" />

      <!-- MpcTracker -->
      <rosparam ns="mpc_tracker" file="$(find mrs_trackers)/config/default/mpc_tracker.yaml" />
      <rosparam ns="mpc_tracker" file="$(find mrs_trackers)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/mpc_tracker.yaml" />
      <param name="mpc_tracker/enable_profiler" type="bool" value="$(arg PROFILER)" />
      <param name="mpc_tracker/uav_name" value="$(arg UAV_NAME)" />
      <param name="mpc_tracker/predicted_trajectory_topic" value="control_manager/mpc_tracker/predicted_trajectory" />
      <param name="mpc_tracker/predicted_trajectory_esp_topic" value="control_manager/mpc_tracker/predicted_trajectory_esp" />
      <remap from="~mpc_tracker/profiler" to="profiler" />
      <remap from="~mpc_tracker/set_trajectory_in" to="~mpc_tracker/set_trajectory" />
      <remap from="~mpc_tracker/odometry_diagnostics_in" to="odometry/diagnostics" />
      <remap from="~mpc_tracker/start_trajectory_following_in" to="~mpc_tracker/start_trajectory_following" />
      <remap from="~mpc_tracker/stop_trajectory_following_in" to="~mpc_tracker/stop_trajectory_following" />
      <remap from="~mpc_tracker/resume_trajectory_following_in" to="~mpc_tracker/resume_trajectory_following" />
      <remap from="~mpc_tracker/fly_to_trajectory_start_in" to="~mpc_tracker/fly_to_trajectory_start" />
      <remap from="~mpc_tracker/set_mpc_matrix_in" to="~mpc_tracker/set_Q" />
      <remap from="~mpc_tracker/diagnostics_out" to="~mpc_tracker/diagnostics" />
      <remap from="~mpc_tracker/cmd_acceleration_out" to="~mpc_tracker/cmd_acceleration" />
      <remap from="~mpc_tracker/setpoint_odom_out" to="~mpc_tracker/setpoint_odom" />
      <remap from="~mpc_tracker/debug_set_trajectory_out" to="~mpc_tracker/debug_set_trajectory" />
      <remap from="~mpc_tracker/headless_in" to="~mpc_tracker/headless" />

      <!-- Subscribers -->
      <remap from="~odometry_in" to="odometry/odom_main" />
      <remap from="~mavros_odometry_in" to="mavros_interface/converted_mavros_odom" />
      <remap from="~max_height_in" to="odometry/max_altitude" />
      <remap from="~joystick_in" to="/joy" />
      <remap from="~bumper_in" to="bumper/obstacle_sectors" />
      <remap from="~mavros_state_in" to="mavros/state" />

      <!-- Subscribers and Services -->
      <remap from="~goto_in" to="~goto" />
      <remap from="~goto_fcu_in" to="~goto_fcu" />
      <remap from="~goto_relative_in" to="~goto_relative" />
      <remap from="~goto_altitude_in" to="~goto_altitude" />
      <remap from="~set_yaw_in" to="~set_yaw" />
      <remap from="~set_yaw_relative_in" to="~set_yaw_relative" />

      <!-- Publishers -->
      <remap from="~control_output_out" to="mavros/setpoint_raw/attitude" />
      <remap from="~cmd_odom_out" to="~cmd_odom" />
      <remap from="~position_cmd_out" to="~position_cmd" />
      <remap from="~attitude_cmd_out" to="~attitude_cmd" />
      <remap from="~control_error_out" to="~control_error" />
      <remap from="~tilt_error_out" to="~tilt_error" />
      <remap from="~thrust_force_out" to="~thrust_force" />
      <remap from="~target_attitude_out" to="mavros/setpoint_raw/target_attitude" />
      <remap from="~motors_out" to="~motors" />
      <remap from="~mass_estimate_out" to="~mass_estimate" />
      <remap from="~visualization_marker_array_out" to="/visualization_marker_array" />
      <remap from="~diagnostics_out" to="~diagnostics" />
      <remap from="~profiler" to="profiler" />

      <!-- Services -->
      <remap from="~switch_tracker_in" to="~switch_tracker" />
      <remap from="~switch_controller_in" to="~switch_controller" />
      <remap from="~hover_in" to="~hover" />
      <remap from="~ehover_in" to="~ehover" />
      <remap from="~motors_in" to="~motors" />
      <remap from="~emergency_goto_in" to="~emergency_goto" />
      <remap from="~enable_callbacks_in" to="~enable_callbacks" />
      <remap from="~set_gains_out" to="gain_manager/set_gains" />
      <remap from="~set_constraints_in" to="control_manager/set_constraints" />
      <remap from="~use_joystick_in" to="control_manager/use_joystick" />
      <remap from="~arm_out" to="mavros/cmd/arming" />
      <remap from="~arm_in" to="~arm" />
      <remap from="~eland_in" to="~eland" />
      <remap from="~failsafe_in" to="~failsafe" />
      <remap from="~failsafe_escalating_in" to="~failsafe_escalating" />
      <remap from="~eland_out" to="control_manager/landoff_tracker/eland" />
      <remap from="~rc_in" to="mavros/rc/in" />
      <remap from="~shutdown_out" to="~shutdown_out" />
      <remap from="~pirouette_in" to="~pirouette" />

    </node>

  </group>

</launch>
