<launch>

  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav)" />
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(optenv UAV_TYPE)" />
  <arg name="STANDALONE" default="true" />

  <arg     if="$(arg STANDALONE)" name="nodelet" value="standalone"/>
  <arg unless="$(arg STANDALONE)" name="nodelet" value="load"/>
  <arg     if="$(arg STANDALONE)" name="nodelet_manager" value=""/>
  <arg unless="$(arg STANDALONE)" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager"/>

  <group ns="$(arg UAV_NAME)">

    <!-- Gain Manager -->
    <node pkg="nodelet" type="nodelet" name="gain_manager" args="$(arg nodelet) mrs_uav_manager/GainManager $(arg nodelet_manager)" output="screen">

      <!-- Load the particular param files -->
      <rosparam file="$(find mrs_uav_manager)/config/default/gain_manager/gain_manager.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/default/gain_manager/gains.yaml" />

      <!-- Load the particular param files -->
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/gain_manager/gain_manager.yaml" />
      <rosparam file="$(find mrs_uav_manager)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/gain_manager/gains.yaml" />

      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

      <!-- Subscribers -->
      <remap from="~control_manager_diagnostics_in" to="control_manager/diagnostics" />
      <remap from="~odometry_diagnostics_in" to="odometry/diagnostics" />

      <!-- Services -->
      <remap from="~set_gains_in" to="~set_gains" />
      <remap from="~set_gains_out" to="control_manager/so3_controller/set_parameters" />

      <!-- Publishers -->
      <remap from="~current_gains_out" to="~current_gains" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
