<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />

  <!-- other args -->
  <arg name="debug" default="false" />
  <arg name="standalone" default="true" />

  <env name="ROSCONSOLE_CONFIG_FILE" if="$(eval arg('LOGGER_DEBUG'))" value="$(find mrs_uav_managers)/config/debug_verbosity.yaml" />

  <arg name="fcu_frame_id" default="$(arg UAV_NAME)/fcu" />
  <arg name="fcu_untilted_frame_id" default="$(arg UAV_NAME)/fcu_untilted" />
  <arg name="imu_mode" default="false" />

  <arg name="scope_timer_enabled" default="false" />
  <arg name="scope_timer_log_filename" default="" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="tf_manager" args="$(arg nodelet) mrs_uav_managers/TfManager $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />
      <param name="scope_timer/enabled" type="bool" value="$(arg scope_timer_enabled)" />
      <param name="scope_timer/log_filename" type="string" value="$(arg scope_timer_log_filename)" />

      <!-- Parameters -->
      <param name="frames/fcu_frame_id" type="string" value="$(arg fcu_frame_id)" />
      <param name="frames/fcu_untilted_frame_id" type="string" value="$(arg fcu_untilted_frame_id)" />
      <param name="imu_mode" type="bool" value="$(arg imu_mode)" />

      <!-- Subscribers -->
      <remap from="~odom_mavros_in" to="mavros/local_position/odom" />
      <remap from="~imu_in" to="imu/data" />

      <!-- Publishers -->

      <!-- Debug publishers -->
      <remap from="~profiler" to="profiler" />

      <!-- Services -->

    </node>

  </group>

</launch>
