# - list of names of dynamically loaded trackers
trackers : [
  "MpcTracker",
  "LineTracker",
  "LandoffTracker",
  "JoyTracker",
  "MatlabTracker",
  "SpeedTracker",
  "NullTracker",
]

# - list of names of dynamically loaded controllers
controllers : [
  "So3Controller",
  "MpcController",
  "NsfController",
  "FailsafeController",
  "EmergencyController",
]

safety:

  min_thrust_null_tracker: 0.15 # [] minimum thrust when not flying

  # when the active tracker returns empty command
  tracker_error_action: "ehover" # {eland, ehover}

  parachute:

    enabled: true
